@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
    height: 100%;
    background-color: whitesmoke;

}
.navbar{
	font-size: 25px; 
	font-family: 'Roboto', sans-serif;
	color:#fff;   
	background-color:#1e272e;
	padding-left: 55px;
}

.navbar-light .img1{
	width:65px;
	height: 60px;
	 
}

#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
}


#container2{
	width: 50%;
	height:100%;
	border:1px solid lightgrey;
	display:flex;
	flex-wrap: wrap;
	align-content: center;

}

#mynetwork2{
	width: 100%;
	height:100%;
}





















